{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container text-center mx-auto">
    <h1 class="mt-5">Tic-Tac-Toe</h1>
    <div class="row mt-4">
        <div class="col-md-4 mx-auto">
            <div class="game-board">
                <div class="row">
                    <div class="col cell" data-cell="0"></div>
                    <div class="col cell" data-cell="1"></div>
                    <div class="col cell" data-cell="2"></div>
                </div>
                <div class="row">
                    <div class="col cell" data-cell="3"></div>
                    <div class="col cell" data-cell="4"></div>
                    <div class="col cell" data-cell="5"></div>
                </div>
                <div class="row">
                    <div class="col cell" data-cell="6"></div>
                    <div class="col cell" data-cell="7"></div>
                    <div class="col cell" data-cell="8"></div>
                </div>
            </div>
            <p id="message" class="mt-3"></p>
            <button id="restartButton" class="btn btn-primary mt-3">Restart Game</button>
        </div>
    </div>
</div>

{% endblock %}

